/* wrap paragraps style */
.wrap p {
  font-size: 14px;
  line-height: 1.5;
  margin: 0 0 20px;
}

/* form group style */
.form-group {
  margin-top: 10px;
}

/* form group label style */
.form-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

/* form group input style */
.form-group input[type="text"] {
  width: 50%;
}

/* form group input style for big screen */
@media screen and (max-width: 768px) {
  .form-group input[type="text"] {
    width: 100%;
  }
}
